## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
import random

In [74]:
sample_list_1 = []

sample_list_1 = random.sample(range(0, 100), 80)

print(sample_list_1)

[17, 40, 56, 73, 15, 10, 55, 98, 11, 52, 12, 58, 45, 4, 26, 97, 64, 92, 49, 70, 81, 62, 57, 18, 28, 37, 44, 83, 75, 43, 99, 31, 61, 29, 6, 54, 32, 78, 33, 96, 65, 7, 71, 42, 19, 74, 87, 94, 50, 9, 72, 84, 36, 63, 21, 82, 27, 60, 23, 53, 39, 59, 69, 20, 66, 51, 38, 35, 1, 67, 41, 25, 86, 95, 13, 48, 46, 16, 77, 3]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [75]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0, 100))
print (sample_list_2)

[65, 87, 74, 12, 81, 89, 98, 47, 45, 24, 96, 77, 85, 35, 17, 68, 13, 34, 52, 56, 64, 58, 77, 10, 31, 73, 31, 29, 20, 13, 65, 57, 10, 44, 41, 15, 100, 60, 62, 81, 32, 6, 65, 9, 37, 15, 75, 80, 60, 30, 3, 79, 68, 93, 84, 47, 78, 67, 51, 15, 20, 32, 28, 5, 59, 50, 71, 96, 31, 61, 18, 13, 12, 7, 62, 2, 26, 60, 23, 40]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
set2 = set(sample_list_2)
len(set2)

60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [23]:
set3 = set1.difference(set2)
print(set3)

{0, 1, 4, 8, 11, 16, 19, 21, 22, 25, 27, 33, 36, 38, 39, 43, 46, 48, 53, 54, 63, 66, 70, 72, 82, 86, 88, 91, 92, 94, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [25]:
set4 = set2.difference(set1)
print(set4)

{64, 98, 100, 6, 7, 71, 41, 81, 20, 84, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [26]:
set5 = set1.intersection(set2)
print(set5)

{2, 3, 5, 9, 10, 12, 13, 15, 17, 18, 23, 24, 26, 28, 29, 30, 32, 34, 35, 37, 40, 44, 45, 47, 50, 51, 52, 56, 57, 58, 59, 60, 61, 62, 65, 67, 68, 73, 74, 75, 77, 78, 79, 80, 85, 87, 89, 93, 96}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [76]:
len(set1) + len(set2) == len(set3) + len(set4) + 2*len(set5)

True

#### Create an empty set called `set6`.

In [35]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [38]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 79, 80, 82, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97}

#### Check if `set1` and `set6` are equal.

In [45]:
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [46]:
# Your code here
set2.issubset(set1)

False

In [47]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [54]:
set7 = set3.union(set4,set5)
print(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 100}

In [56]:
set8 = set7.union(set1,set2)
print(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 100}

In [57]:
set7 ==set8

True

#### Using the `pop` method, remove an element from `set1`.

In [64]:

set1.pop()

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [66]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [68]:
for number in list_to_remove:
    set1.discard(number)

print(set1)

{2, 3, 4, 5, 8, 10, 12, 13, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 58, 60, 62, 63, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 85, 86, 87, 88, 92, 93, 94, 96, 97}