## Convert JSON to CSV

In [251]:
import json
import csv
import pandas as pd

In [252]:
import warnings
warnings.filterwarnings("ignore")

In [253]:
file=open('Claudia_profile_3.json') #Open json file

In [254]:
data= json.load(file)

In [255]:
type(data[0])

dict

In [256]:
data

[{'general': {'imgUrl': 'https://media.licdn.com/dms/image/C4E03AQErX4cx0ygI6w/profile-displayphoto-shrink_800_800/0/1641921305737?e=1684972800&v=beta&t=ao3TdnXigFpgURg_2Ikw31tgVrEdJS0gEjS4vR_hgIo',
   'fullName': 'Claudia Moron',
   'headline': 'Head of eCommerce at Love Stories',
   'location': 'Amsterdam, North Holland, Netherlands',
   'profileUrl': 'https://www.linkedin.com/in/claudia-moron-32684191/',
   'connections': '500+',
   'connectionsCount': 1027,
   'connectionDegree': '3rd',
   'description': 'Management professional with 10+ years of experience in digital commerce. Deeply passionate to create meaningful digital experiences at the crossroad of creativity, technology and customer-centricity. Experienced in leading change, handling complex digital projects with international stakeholders and building high-performance multi-level teams.',
   'subscribers': '1069',
   'firstName': 'Claudia',
   'lastName': 'Moron',
   'userId': '327548046',
   'backgroundUrl': 'https://media.licdn.com/dms/image/D4E16AQGgZlsZz9flzA/profile-displaybackgroundimage-shrink_350_1400/0/1673441740765?e=1684972800&v=beta&t=QhRvKVzIl73_G9LsG21hIqo8FQsJm8TG5TO26waTKYs',
   'vmid': 'ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI',
   'linkedinSalesNavigatorUrl': 'https://www.linkedin.com/sales/people/ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI,name',
   'mutualConnectionsUrl': 'https://www.linkedin.com/search/results/people/?facetNetwork=%5B%22F%22%5D&facetConnectionOf=%5B%22ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI%22%5D&origin=MEMBER_PROFILE_CANNED_SEARCH&RESULT_TYPE=PEOPLE',
   'connectionsUrl': 'https://www.linkedin.com/search/results/people/?facetConnectionOf=%5B%22ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI%22%5D&facetNetwork=%5B%22F%22%2C%22S%22%5D&origin=MEMBER_PROFILE_CANNED_SEARCH',
   'company': 'Love Stories',
   'school': 'London College of Fashion, University of the Arts London'},
  'jobs': [{'companyUrl': 'https://www.linkedin.com/company/5095549/',
    'companyName': 'Love Stories',
    'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQH_z1xe9o_Z7w/company-logo_400_400/0/1524039923988?e=1687392000&v=beta&t=NtcbUGCSJBZ9wSRwGFFjmROO_dwFhOaY2CviH6yUdE8',
    'jobTitle': 'Head of eCommerce',
    'dateRange': 'Apr 2021 - Present Â· 2 yrs',
    'description': "End responsible for Love Stories' global eCommerce business, including P&L. Leading a multidisciplinary team and reporting directly to the board.",
    'location': 'Amsterdam, North Holland, Netherlands'},
   {'companyUrl': 'https://www.linkedin.com/company/8274/',
    'companyName': 'New Balance',
    'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQFKAVM4PGSUgw/company-logo_400_400/0/1542121705133?e=1687392000&v=beta&t=mj3Umo9RyPk0i1qw4oOoequCKgy5CxlCZYT04z9QuNg',
    'jobTitle': 'eCommerce Site Manager EMEA',
    'dateRange': 'Oct 2018 - Mar 2021 Â· 2 yrs 6 mos',
    'description': 'End responsible for the eCommerce operations, digital experience and strategic roadmap for New Balanceâ€™s 21 EMEA eCommerce sites. Reporting to the General Manager eCommerce and leading a team of 9 FTEs.\n\nAchievements:\n- Successfully delivered a transition project for the business to move away from the external eCommerce operations vendor and successfully in-housed all eCommerce site operations. Project was delivered while maintaining fully operational in daily business and meeting targets.\n- Co-responsibility for the opening of the Amsterdam-based EMEA DTC office, recruited and built a team of 9 FTEs in the areas of platform management, digital merchandising, content development, onsite optimization and technical support.\n-Delivery and end-responsibility of a 3-year technical technical roadmap enabling future business expansion plans and commercial growth capabilities for the EMEA DTC business.\n',
    'location': 'Amsterdam, North Holland, Netherlands'},
   {'companyUrl': 'https://www.linkedin.com/company/14140/',
    'companyName': 'Under Armour',
    'logoUrl': 'https://media.licdn.com/dms/image/C560BAQH7DvDneq6Elw/company-logo_400_400/0/1567007199546?e=1687392000&v=beta&t=B-rmk2pQVh8VtxIZxO--aanSskxZAmjeopNL0fhmqDw',
    'jobTitle': 'Content & User Experience Manager, EMEA eCommerce',
    'dateRange': 'Jul 2017 - Sep 2018 Â· 1 yr 3 mos',
    'description': 'End responsible for the digital consumer journey of Under Armourâ€˜s European eCommerce sites. Reporting directly to the Head of eCommerce and leading a team of 5 FTEs\n\nAchievements:\n- Redefined and optimized a team of 5 direct reports in the fields of digital content merchandising, campaign planning, onsite localisation, creative design and SEO.\n- Defined and built a content and user experience strategy that improves digital merchandise campaign execution and ensures the successful delivery of Under Armourâ€™s onsite optimisation roadmap.\n- Led the development of a strategic 3-year plan for the European eCommerce business in order to balance brand and DTC commerce objectives while further developing digital as a center of excellence for the company.',
    'location': 'Amsterdam, North Holland, Netherlands'},
   {'companyUrl': 'https://www.linkedin.com/company/53978/',
    'companyName': 'C&A',
    'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQF5XT08UG7Z2A/company-logo_400_400/0/1656657371422?e=1687392000&v=beta&t=UCvQxiOw3syCNhYNnYEgNIw5ZEIpg_ZReYql960rk7A',
    'jobTitle': 'Product Manager eCommerce',
    'dateRange': 'Jan 2014 - Jun 2017 Â· 3 yrs 6 mos',
    'description': 'Co-responsible for the strategic and operational development of C&Aâ€™s European online shopsâ€™ customer experience. Reporting to the Unit Leader Customer User Experience. \n\nAchievements:\n- Led the creative and technical strategy and implementation of C&Aâ€™s European eCommerce platform update in July 2016.\n- Headed the development and delivery of a board-focused eCommerce future vision project, including a completely new user experience and visual design guideline that served as the foundation for the companyâ€™s recent major website relaunch project.\n- Defined and delivered a data-driven customer experience operation focused on improving key KPIâ€™s of C&Aâ€™s European online shops.\n- Delivered a content transition project of insourcing major content tasks including a CMS training and development in order to empower internal teams and reduce IT costs.\n- Defined and delivered the operational approach and guidelines on translating C&Aâ€™s new customer proposition and brand identity across C&Aâ€™s European eCommerce operation and organization.\n',
    'location': 'DÃ¼sseldorf, North Rhine-Westphalia'},
   {'companyUrl': 'https://www.linkedin.com/company/12719459/',
    'companyName': 'JADES GmbH',
    'jobTitle': 'Online Marketing Manager',
    'dateRange': 'May 2010 - Dec 2013 Â· 3 yrs 8 mos',
    'description': 'End responsible for the strategy and delivery of all marketing communications. Reporting to the eCommerce Director.\n\nAchievements:\n- Redefined and implemented a new strategy and measurement approach for performance marketing (SEA, SEO, Affiliate) leading to increased conversion rate and return on investment across all channels.\n- Steered the creative process and development of a new brand identity leading to the delivery of a full website redesign.',
    'location': 'DÃ¼sseldorf, North Rhine-Westphalia'}],
  'schools': [{'schoolUrl': 'https://www.linkedin.com/company/14685/',
    'schoolName': 'London College of Fashion, University of the Arts London',
    'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQHzv7FNIj5Uxw/company-logo_400_400/0/1675251196608?e=1687392000&v=beta&t=7sb3BhJ5iTXPTZeX58nNFXLsrTJ5qzgS7UqkIYG_Aeg',
    'degree': 'Master of Arts (M.A.), Strategic Fashion Marketing',
    'dateRange': '2009 - 2010',
    'description': 'Focused on marketing and management issues in the fashion industry, with attention paid to: Fashion Business Strategy, Marketing Communications, International Marketing and Retail Strategies, Brand Marketing and Research.\n\nMaster Thesis: Corporate Social Responsibility in Marketing Communications â€“ A Customer-\nCentric Perspective'},
   {'schoolUrl': 'https://www.linkedin.com/company/13121/',
    'schoolName': 'University of Hertfordshire',
    'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQHeEkDNjV11Ug/company-logo_400_400/0/1677664005176?e=1687392000&v=beta&t=J7kR-WNoooIEv6-hUXcxzEs52nY2rRZOGIm7Dtw9Z6o',
    'degree': 'Business Administration',
    'dateRange': '2007 - 2008'},
   {'schoolUrl': 'https://www.linkedin.com/company/141797/',
    'schoolName': 'CBS International Business School',
    'logoUrl': 'https://media.licdn.com/dms/image/C4D0BAQGDzZHHddSlFQ/company-logo_400_400/0/1580644583147?e=1687392000&v=beta&t=HWzJLC4UfNNSrN87az0YoVWmzxBpBBfnH2Yq_Kc-JX4',
    'degree': 'Bachelor of Arts (B.A.), International Business',
    'dateRange': '2005 - 2008'}],
  'details': {'linkedinProfile': 'https://www.linkedin.com/in/claudia-moron-32684191',
   'companyWebsite': 'http://www.lovestoriesintimates.com'},
  'skills': [{'name': 'E-Commerce', 'endorsements': 15},
   {'name': 'Online-Marketing', 'endorsements': 9},
   {'name': 'Unternehmensstrategie', 'endorsements': 5},
   {'name': 'E-commerce', 'endorsements': 4},
   {'name': 'Digitales Marketing', 'endorsements': 2},
   {'name': 'Einzelhandel', 'endorsements': 2},
   {'name': 'Marketingstrategie', 'endorsements': 3},
   {'name': 'Mode', 'endorsements': 5},
   {'name': 'Onlinewerbung', 'endorsements': 2},
   {'name': 'Marketingkommunikation', 'endorsements': 4},
   {'name': 'Social Media Marketing', 'endorsements': 2},
   {'name': 'Marketing', 'endorsements': 4},
   {'name': 'Internationales Marketing', 'endorsements': 2},
   {'name': 'Social Media', 'endorsements': 2},
   {'name': 'Marketing Strategy', 'endorsements': 2},
   {'name': 'Produktmanagement', 'endorsements': 3}],
  'allSkills': 'E-Commerce, Online-Marketing, Unternehmensstrategie, E-commerce, Digitales Marketing, Einzelhandel, Marketingstrategie, Mode, Onlinewerbung, Marketingkommunikation, Social Media Marketing, Marketing, Internationales Marketing, Social Media, Marketing Strategy, Produktmanagement',
  'interests': {'influencers': [{'url': 'https://www.linkedin.com/in/brenebrown',
     'name': 'BrenÃ© Brown',
     'count': 4050568},
    {'url': 'https://www.linkedin.com/in/simonsinek',
     'name': 'Simon Sinek',
     'count': 6712555},
    {'url': 'https://www.linkedin.com/in/tina-mueller',
     'name': 'Tina Mueller',
     'count': 227736}],
   'companies': [{'url': 'https://www.linkedin.com/company/13121/',
     'name': 'University of Hertfordshire',
     'count': 171342},
    {'url': 'https://www.linkedin.com/company/14684/',
     'name': 'University of the Arts London',
     'count': 202948},
    {'url': 'https://www.linkedin.com/company/14685/',
     'name': 'London College of Fashion, University of the Arts London',
     'count': 83787},
    {'url': 'https://www.linkedin.com/company/53978/',
     'name': 'C&A',
     'count': 336829},
    {'url': 'https://www.linkedin.com/company/141797/',
     'name': 'CBS International Business School',
     'count': 13064},
    {'url': 'https://www.linkedin.com/company/348309/',
     'name': 'Emerce',
     'count': 21614},
    {'url': 'https://www.linkedin.com/company/825768/',
     'name': 'Voyado',
     'count': 6096},
    {'url': 'https://www.linkedin.com/company/5095549/',
     'name': 'Love Stories',
     'count': 6896},
    {'url': 'https://www.linkedin.com/company/6875213/',
     'name': 'Datavision Deutschland GmbH',
     'count': 1652},
    {'url': 'https://www.linkedin.com/company/10776307/',
     'name': 'Ask Phill',
     'count': 3607},
    {'url': 'https://www.linkedin.com/company/11808400/',
     'name': 'Brandsom',
     'count': 1041},
    {'url': 'https://www.linkedin.com/company/18151323/',
     'name': 'TEDxAmsterdamWomen',
     'count': 5155},
    {'url': 'https://www.linkedin.com/company/47264653/',
     'name': 'Merlion Digital Commerce',
     'count': 172},
    {'url': 'https://www.linkedin.com/company/88909904/',
     'name': 'SOULMATE Counseling',
     'count': 71}],
   'schools': [{'url': 'https://www.linkedin.com/school/141797/',
     'name': 'CBS International Business School',
     'count': 13064},
    {'url': 'https://www.linkedin.com/school/13121/',
     'name': 'University of Hertfordshire',
     'count': 171342},
    {'url': 'https://www.linkedin.com/school/14685/',
     'name': 'London College of Fashion, University of the Arts London',
     'count': 83787},
    {'url': 'https://www.linkedin.com/school/14684/',
     'name': 'University of the Arts London',
     'count': 202948}]},
  'accomplishments': {'languages': ['Deutsch: Native or bilingual proficiency',
    'Englisch: Full professional proficiency',
    'FranzÃ¶sisch: Elementary proficiency']},
  'dropcontact': {'civility': 'Mrs',
   'company': 'Love Stories',
   'company_linkedin': 'www.linkedin.com/company/love-stories-',
   'first_name': 'Claudia',
   'full_name': 'Claudia Moron',
   'job': 'Head of Ecommerce',
   'last_name': 'Moron',
   'linkedin': 'www.linkedin.com/in/claudia-moron-32684191',
   'phone': '+33 1 89 19 59 88',
   'website': 'www.lovestoriesintimates.com'},
  'query': 'https://www.linkedin.com/in/claudia-moron-32684191/',
  'timestamp': '2023-03-21T18:20:39.950Z'}]

In [259]:
type(data[0])

dict

In [257]:
data[0].keys()

dict_keys(['general', 'jobs', 'schools', 'details', 'skills', 'allSkills', 'interests', 'accomplishments', 'dropcontact', 'query', 'timestamp'])

In [210]:
data[0]['jobs'][:3]

[{'companyUrl': 'https://www.linkedin.com/company/5095549/',
  'companyName': 'Love Stories',
  'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQH_z1xe9o_Z7w/company-logo_400_400/0/1524039923988?e=1687392000&v=beta&t=NtcbUGCSJBZ9wSRwGFFjmROO_dwFhOaY2CviH6yUdE8',
  'jobTitle': 'Head of eCommerce',
  'dateRange': 'Apr 2021 - Present Â· 2 yrs',
  'description': "End responsible for Love Stories' global eCommerce business, including P&L. Leading a multidisciplinary team and reporting directly to the board.",
  'location': 'Amsterdam, North Holland, Netherlands'},
 {'companyUrl': 'https://www.linkedin.com/company/8274/',
  'companyName': 'New Balance',
  'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQFKAVM4PGSUgw/company-logo_400_400/0/1542121705133?e=1687392000&v=beta&t=mj3Umo9RyPk0i1qw4oOoequCKgy5CxlCZYT04z9QuNg',
  'jobTitle': 'eCommerce Site Manager EMEA',
  'dateRange': 'Oct 2018 - Mar 2021 Â· 2 yrs 6 mos',
  'description': 'End responsible for the eCommerce operations, digital experience and strategic roadmap for New Balanceâ€™s 21 EMEA eCommerce sites. Reporting to the General Manager eCommerce and leading a team of 9 FTEs.\n\nAchievements:\n- Successfully delivered a transition project for the business to move away from the external eCommerce operations vendor and successfully in-housed all eCommerce site operations. Project was delivered while maintaining fully operational in daily business and meeting targets.\n- Co-responsibility for the opening of the Amsterdam-based EMEA DTC office, recruited and built a team of 9 FTEs in the areas of platform management, digital merchandising, content development, onsite optimization and technical support.\n-Delivery and end-responsibility of a 3-year technical technical roadmap enabling future business expansion plans and commercial growth capabilities for the EMEA DTC business.\n',
  'location': 'Amsterdam, North Holland, Netherlands'},
 {'companyUrl': 'https://www.linkedin.com/company/14140/',
  'companyName': 'Under Armour',
  'logoUrl': 'https://media.licdn.com/dms/image/C560BAQH7DvDneq6Elw/company-logo_400_400/0/1567007199546?e=1687392000&v=beta&t=B-rmk2pQVh8VtxIZxO--aanSskxZAmjeopNL0fhmqDw',
  'jobTitle': 'Content & User Experience Manager, EMEA eCommerce',
  'dateRange': 'Jul 2017 - Sep 2018 Â· 1 yr 3 mos',
  'description': 'End responsible for the digital consumer journey of Under Armourâ€˜s European eCommerce sites. Reporting directly to the Head of eCommerce and leading a team of 5 FTEs\n\nAchievements:\n- Redefined and optimized a team of 5 direct reports in the fields of digital content merchandising, campaign planning, onsite localisation, creative design and SEO.\n- Defined and built a content and user experience strategy that improves digital merchandise campaign execution and ensures the successful delivery of Under Armourâ€™s onsite optimisation roadmap.\n- Led the development of a strategic 3-year plan for the European eCommerce business in order to balance brand and DTC commerce objectives while further developing digital as a center of excellence for the company.',
  'location': 'Amsterdam, North Holland, Netherlands'}]

In [231]:
type(data[0]['accomplishments']['languages'])

list

In [71]:
data[0]['accomplishments']['languages']

['Deutsch: Native or bilingual proficiency',
 'Englisch: Full professional proficiency',
 'FranzÃ¶sisch: Elementary proficiency']

## 'general' dataframe

In [72]:
general_dic = data[0]['general']
general_dic

{'imgUrl': 'https://media.licdn.com/dms/image/C4E03AQErX4cx0ygI6w/profile-displayphoto-shrink_800_800/0/1641921305737?e=1684972800&v=beta&t=ao3TdnXigFpgURg_2Ikw31tgVrEdJS0gEjS4vR_hgIo',
 'fullName': 'Claudia Moron',
 'headline': 'Head of eCommerce at Love Stories',
 'location': 'Amsterdam, North Holland, Netherlands',
 'profileUrl': 'https://www.linkedin.com/in/claudia-moron-32684191/',
 'connections': '500+',
 'connectionsCount': 1027,
 'connectionDegree': '3rd',
 'description': 'Management professional with 10+ years of experience in digital commerce. Deeply passionate to create meaningful digital experiences at the crossroad of creativity, technology and customer-centricity. Experienced in leading change, handling complex digital projects with international stakeholders and building high-performance multi-level teams.',
 'subscribers': '1069',
 'firstName': 'Claudia',
 'lastName': 'Moron',
 'userId': '327548046',
 'backgroundUrl': 'https://media.licdn.com/dms/image/D4E16AQGgZlsZz9flzA/profile-displaybackgroundimage-shrink_350_1400/0/1673441740765?e=1684972800&v=beta&t=QhRvKVzIl73_G9LsG21hIqo8FQsJm8TG5TO26waTKYs',
 'vmid': 'ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI',
 'linkedinSalesNavigatorUrl': 'https://www.linkedin.com/sales/people/ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI,name',
 'mutualConnectionsUrl': 'https://www.linkedin.com/search/results/people/?facetNetwork=%5B%22F%22%5D&facetConnectionOf=%5B%22ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI%22%5D&origin=MEMBER_PROFILE_CANNED_SEARCH&RESULT_TYPE=PEOPLE',
 'connectionsUrl': 'https://www.linkedin.com/search/results/people/?facetConnectionOf=%5B%22ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI%22%5D&facetNetwork=%5B%22F%22%2C%22S%22%5D&origin=MEMBER_PROFILE_CANNED_SEARCH',
 'company': 'Love Stories',
 'school': 'London College of Fashion, University of the Arts London'}

In [73]:
general_df = pd.DataFrame.from_dict([general_dic], orient='columns')
general_df

,imgUrl,fullName,headline,location,profileUrl,connections,connectionsCount,connectionDegree,description,subscribers,firstName,lastName,userId,backgroundUrl,vmid,linkedinSalesNavigatorUrl,mutualConnectionsUrl,connectionsUrl,company,school
0,https://media.licdn.com/dms/image/C4E03AQErX4c...,Claudia Moron,Head of eCommerce at Love Stories,"Amsterdam, North Holland, Netherlands",https://www.linkedin.com/in/claudia-moron-3268...,500+,1027,3rd,Management professional with 10+ years of expe...,1069,Claudia,Moron,327548046,https://media.licdn.com/dms/image/D4E16AQGgZls...,ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI,https://www.linkedin.com/sales/people/ACoAABOF...,https://www.linkedin.com/search/results/people...,https://www.linkedin.com/search/results/people...,Love Stories,"London College of Fashion, University of the A..."

In [260]:
general_col = ['mutualConnectionsText','connectionDegree','connectionsCount','imgUrl','fullName','headline','location','description','birthday']

In [261]:
general_col

['mutualConnectionsText',
 'connectionDegree',
 'connectionsCount',
 'imgUrl',
 'fullName',
 'headline',
 'location',
 'description',
 'birthday']

In [271]:
# List generator with common columns
col_list = list(set(general_df.columns) & set(general_col))
general_dataframe = general_df[col_list]
general_dataframe

,description,headline,location,connectionsCount,connectionDegree,imgUrl,fullName
0,Management professional with 10+ years of expe...,Head of eCommerce at Love Stories,"Amsterdam, North Holland, Netherlands",1027,3rd,https://media.licdn.com/dms/image/C4E03AQErX4c...,Claudia Moron

In [77]:
general_dataframe.T

                                                                  0
description       Management professional with 10+ years of expe...
headline                          Head of eCommerce at Love Stories
location                      Amsterdam, North Holland, Netherlands
connectionsCount                                               1027
connectionDegree                                                3rd
imgUrl            https://media.licdn.com/dms/image/C4E03AQErX4c...
fullName                                              Claudia Moron

## 'details' dataframe

In [78]:
details_dic = data[0]['details']
details_dic

{'linkedinProfile': 'https://www.linkedin.com/in/claudia-moron-32684191',
 'companyWebsite': 'http://www.lovestoriesintimates.com'}

In [79]:
details_df = pd.DataFrame.from_dict([details_dic], orient='columns')
details_df

,linkedinProfile,companyWebsite
0,https://www.linkedin.com/in/claudia-moron-3268...,http://www.lovestoriesintimates.com

In [80]:
#columns needed from 'details df'
details_col = ['birthday']
details_col

['birthday']

In [263]:
#common list of columns needed vs columns on df
details_list = list(set(details_df.columns) & set(details_col))
details_dataframe = details_df[details_list]
details_dataframe

Empty DataFrame
Columns: []
Index: [0]

## 'jobs' dataframe

In [166]:
jobs = data[0]['jobs']
jobs

[{'companyUrl': 'https://www.linkedin.com/company/5095549/',
  'companyName': 'Love Stories',
  'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQH_z1xe9o_Z7w/company-logo_400_400/0/1524039923988?e=1687392000&v=beta&t=NtcbUGCSJBZ9wSRwGFFjmROO_dwFhOaY2CviH6yUdE8',
  'jobTitle': 'Head of eCommerce',
  'dateRange': 'Apr 2021 - Present Â· 2 yrs',
  'description': "End responsible for Love Stories' global eCommerce business, including P&L. Leading a multidisciplinary team and reporting directly to the board.",
  'location': 'Amsterdam, North Holland, Netherlands'},
 {'companyUrl': 'https://www.linkedin.com/company/8274/',
  'companyName': 'New Balance',
  'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQFKAVM4PGSUgw/company-logo_400_400/0/1542121705133?e=1687392000&v=beta&t=mj3Umo9RyPk0i1qw4oOoequCKgy5CxlCZYT04z9QuNg',
  'jobTitle': 'eCommerce Site Manager EMEA',
  'dateRange': 'Oct 2018 - Mar 2021 Â· 2 yrs 6 mos',
  'description': 'End responsible for the eCommerce operations, digital experience and strategic roadmap for New Balanceâ€™s 21 EMEA eCommerce sites. Reporting to the General Manager eCommerce and leading a team of 9 FTEs.\n\nAchievements:\n- Successfully delivered a transition project for the business to move away from the external eCommerce operations vendor and successfully in-housed all eCommerce site operations. Project was delivered while maintaining fully operational in daily business and meeting targets.\n- Co-responsibility for the opening of the Amsterdam-based EMEA DTC office, recruited and built a team of 9 FTEs in the areas of platform management, digital merchandising, content development, onsite optimization and technical support.\n-Delivery and end-responsibility of a 3-year technical technical roadmap enabling future business expansion plans and commercial growth capabilities for the EMEA DTC business.\n',
  'location': 'Amsterdam, North Holland, Netherlands'},
 {'companyUrl': 'https://www.linkedin.com/company/14140/',
  'companyName': 'Under Armour',
  'logoUrl': 'https://media.licdn.com/dms/image/C560BAQH7DvDneq6Elw/company-logo_400_400/0/1567007199546?e=1687392000&v=beta&t=B-rmk2pQVh8VtxIZxO--aanSskxZAmjeopNL0fhmqDw',
  'jobTitle': 'Content & User Experience Manager, EMEA eCommerce',
  'dateRange': 'Jul 2017 - Sep 2018 Â· 1 yr 3 mos',
  'description': 'End responsible for the digital consumer journey of Under Armourâ€˜s European eCommerce sites. Reporting directly to the Head of eCommerce and leading a team of 5 FTEs\n\nAchievements:\n- Redefined and optimized a team of 5 direct reports in the fields of digital content merchandising, campaign planning, onsite localisation, creative design and SEO.\n- Defined and built a content and user experience strategy that improves digital merchandise campaign execution and ensures the successful delivery of Under Armourâ€™s onsite optimisation roadmap.\n- Led the development of a strategic 3-year plan for the European eCommerce business in order to balance brand and DTC commerce objectives while further developing digital as a center of excellence for the company.',
  'location': 'Amsterdam, North Holland, Netherlands'},
 {'companyUrl': 'https://www.linkedin.com/company/53978/',
  'companyName': 'C&A',
  'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQF5XT08UG7Z2A/company-logo_400_400/0/1656657371422?e=1687392000&v=beta&t=UCvQxiOw3syCNhYNnYEgNIw5ZEIpg_ZReYql960rk7A',
  'jobTitle': 'Product Manager eCommerce',
  'dateRange': 'Jan 2014 - Jun 2017 Â· 3 yrs 6 mos',
  'description': 'Co-responsible for the strategic and operational development of C&Aâ€™s European online shopsâ€™ customer experience. Reporting to the Unit Leader Customer User Experience. \n\nAchievements:\n- Led the creative and technical strategy and implementation of C&Aâ€™s European eCommerce platform update in July 2016.\n- Headed the development and delivery of a board-focused eCommerce future vision project, including a completely new user experience and visual design guideline that served as the foundation for the companyâ€™s recent major website relaunch project.\n- Defined and delivered a data-driven customer experience operation focused on improving key KPIâ€™s of C&Aâ€™s European online shops.\n- Delivered a content transition project of insourcing major content tasks including a CMS training and development in order to empower internal teams and reduce IT costs.\n- Defined and delivered the operational approach and guidelines on translating C&Aâ€™s new customer proposition and brand identity across C&Aâ€™s European eCommerce operation and organization.\n',
  'location': 'DÃ¼sseldorf, North Rhine-Westphalia'},
 {'companyUrl': 'https://www.linkedin.com/company/12719459/',
  'companyName': 'JADES GmbH',
  'jobTitle': 'Online Marketing Manager',
  'dateRange': 'May 2010 - Dec 2013 Â· 3 yrs 8 mos',
  'description': 'End responsible for the strategy and delivery of all marketing communications. Reporting to the eCommerce Director.\n\nAchievements:\n- Redefined and implemented a new strategy and measurement approach for performance marketing (SEA, SEO, Affiliate) leading to increased conversion rate and return on investment across all channels.\n- Steered the creative process and development of a new brand identity leading to the delivery of a full website redesign.',
  'location': 'DÃ¼sseldorf, North Rhine-Westphalia'}]

In [167]:
len(jobs)

5

In [269]:
# Genereta a list only with 
l = (i for i in jobs)

last_3jobs= list(l)[:3] # shows only 3 jobs 
last_3jobs

[{'companyUrl': 'https://www.linkedin.com/company/5095549/',
  'companyName': 'Love Stories',
  'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQH_z1xe9o_Z7w/company-logo_400_400/0/1524039923988?e=1687392000&v=beta&t=NtcbUGCSJBZ9wSRwGFFjmROO_dwFhOaY2CviH6yUdE8',
  'jobTitle': 'Head of eCommerce',
  'dateRange': 'Apr 2021 - Present Â· 2 yrs',
  'description': "End responsible for Love Stories' global eCommerce business, including P&L. Leading a multidisciplinary team and reporting directly to the board.",
  'location': 'Amsterdam, North Holland, Netherlands'},
 {'companyUrl': 'https://www.linkedin.com/company/8274/',
  'companyName': 'New Balance',
  'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQFKAVM4PGSUgw/company-logo_400_400/0/1542121705133?e=1687392000&v=beta&t=mj3Umo9RyPk0i1qw4oOoequCKgy5CxlCZYT04z9QuNg',
  'jobTitle': 'eCommerce Site Manager EMEA',
  'dateRange': 'Oct 2018 - Mar 2021 Â· 2 yrs 6 mos',
  'description': 'End responsible for the eCommerce operations, digital experience and strategic roadmap for New Balanceâ€™s 21 EMEA eCommerce sites. Reporting to the General Manager eCommerce and leading a team of 9 FTEs.\n\nAchievements:\n- Successfully delivered a transition project for the business to move away from the external eCommerce operations vendor and successfully in-housed all eCommerce site operations. Project was delivered while maintaining fully operational in daily business and meeting targets.\n- Co-responsibility for the opening of the Amsterdam-based EMEA DTC office, recruited and built a team of 9 FTEs in the areas of platform management, digital merchandising, content development, onsite optimization and technical support.\n-Delivery and end-responsibility of a 3-year technical technical roadmap enabling future business expansion plans and commercial growth capabilities for the EMEA DTC business.\n',
  'location': 'Amsterdam, North Holland, Netherlands'},
 {'companyUrl': 'https://www.linkedin.com/company/14140/',
  'companyName': 'Under Armour',
  'logoUrl': 'https://media.licdn.com/dms/image/C560BAQH7DvDneq6Elw/company-logo_400_400/0/1567007199546?e=1687392000&v=beta&t=B-rmk2pQVh8VtxIZxO--aanSskxZAmjeopNL0fhmqDw',
  'jobTitle': 'Content & User Experience Manager, EMEA eCommerce',
  'dateRange': 'Jul 2017 - Sep 2018 Â· 1 yr 3 mos',
  'description': 'End responsible for the digital consumer journey of Under Armourâ€˜s European eCommerce sites. Reporting directly to the Head of eCommerce and leading a team of 5 FTEs\n\nAchievements:\n- Redefined and optimized a team of 5 direct reports in the fields of digital content merchandising, campaign planning, onsite localisation, creative design and SEO.\n- Defined and built a content and user experience strategy that improves digital merchandise campaign execution and ensures the successful delivery of Under Armourâ€™s onsite optimisation roadmap.\n- Led the development of a strategic 3-year plan for the European eCommerce business in order to balance brand and DTC commerce objectives while further developing digital as a center of excellence for the company.',
  'location': 'Amsterdam, North Holland, Netherlands'}]

In [272]:
#list with only needed columns
jobs_col = ['jobTitle','companyName','dateRange','location']

In [273]:
# generate a df of each jib expierence
jobs_1 = pd.DataFrame.from_dict([last_3jobs[0]], orient='columns')
jobs_2 = pd.DataFrame.from_dict([last_3jobs[1]], orient='columns')
jobs_3 = pd.DataFrame.from_dict([last_3jobs[2]], orient='columns')

In [274]:
# function to generate common list for each df
def list_function(df,list_col):

    common_list = list(set(df.columns) & set(list_col))
    dataframe = df[common_list]
    return dataframe

In [275]:
df_job1 = list_function(jobs_1,jobs_col)
df_job2 = list_function(jobs_2,jobs_col)
df_job3 = list_function(jobs_3,jobs_col)

In [276]:
# to rename columns
df_job1.rename(\
               {'jobTitle':'Experience 1 title','companyName':'Experience 1 company',\
                'dateRange':'Experience 1 tenuere','location':'Experience 1 location'}, axis=1,inplace=True)
df_job2.rename(\
               {'jobTitle':'Experience 2 title','companyName':'Experience 2 company',\
                'dateRange':'Experience 2 tenuere','location':'Experience 2 location'}, axis=1,inplace=True)
df_job3.rename(\
               {'jobTitle':'Experience 3 title','companyName':'Experience 3 company',\
                'dateRange':'Experience 3 tenuere','location':'Experience 3 location'}, axis=1,inplace=True)

In [277]:
# reorgineze columns order
df_job1 = df_job1.reindex(columns=['Experience 1 title','Experience 1 company','Experience 1 tenuere','Experience 1 location'])
df_job2 = df_job2.reindex(columns=['Experience 2 title','Experience 2 company','Experience 2 tenuere','Experience 2 location'])
df_job3 = df_job3.reindex(columns=['Experience 3 title','Experience 3 company','Experience 3 tenuere','Experience 3 location'])

In [278]:
# coincatenate 3 jobs in to 1 df
jobs_df= pd.concat([df_job1,df_job2,df_job3],axis=1)
jobs_df

,Experience 1 title,Experience 1 company,Experience 1 tenuere,Experience 1 location,Experience 2 title,Experience 2 company,Experience 2 tenuere,Experience 2 location,Experience 3 title,Experience 3 company,Experience 3 tenuere,Experience 3 location
0,Head of eCommerce,Love Stories,Apr 2021 - Present Â· 2 yrs,"Amsterdam, North Holland, Netherlands",eCommerce Site Manager EMEA,New Balance,Oct 2018 - Mar 2021 Â· 2 yrs 6 mos,"Amsterdam, North Holland, Netherlands","Content & User Experience Manager, EMEA eCommerce",Under Armour,Jul 2017 - Sep 2018 Â· 1 yr 3 mos,"Amsterdam, North Holland, Netherlands"

## 'school' dataframe

In [178]:
schools= data[0]['schools']
schools

[{'schoolUrl': 'https://www.linkedin.com/company/14685/',
  'schoolName': 'London College of Fashion, University of the Arts London',
  'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQHzv7FNIj5Uxw/company-logo_400_400/0/1675251196608?e=1687392000&v=beta&t=7sb3BhJ5iTXPTZeX58nNFXLsrTJ5qzgS7UqkIYG_Aeg',
  'degree': 'Master of Arts (M.A.), Strategic Fashion Marketing',
  'dateRange': '2009 - 2010',
  'description': 'Focused on marketing and management issues in the fashion industry, with attention paid to: Fashion Business Strategy, Marketing Communications, International Marketing and Retail Strategies, Brand Marketing and Research.\n\nMaster Thesis: Corporate Social Responsibility in Marketing Communications â€“ A Customer-\nCentric Perspective'},
 {'schoolUrl': 'https://www.linkedin.com/company/13121/',
  'schoolName': 'University of Hertfordshire',
  'logoUrl': 'https://media.licdn.com/dms/image/C4E0BAQHeEkDNjV11Ug/company-logo_400_400/0/1677664005176?e=1687392000&v=beta&t=J7kR-WNoooIEv6-hUXcxzEs52nY2rRZOGIm7Dtw9Z6o',
  'degree': 'Business Administration',
  'dateRange': '2007 - 2008'},
 {'schoolUrl': 'https://www.linkedin.com/company/141797/',
  'schoolName': 'CBS International Business School',
  'logoUrl': 'https://media.licdn.com/dms/image/C4D0BAQGDzZHHddSlFQ/company-logo_400_400/0/1580644583147?e=1687392000&v=beta&t=HWzJLC4UfNNSrN87az0YoVWmzxBpBBfnH2Yq_Kc-JX4',
  'degree': 'Bachelor of Arts (B.A.), International Business',
  'dateRange': '2005 - 2008'}]

In [180]:
ls = (i for i in schools)

last_3schools= list(ls)[:3]

In [279]:
#columns needed
school_col = ['schoolName','degree','dateRange']

In [280]:
# columns needed vs all cloumns
school_1 = pd.DataFrame.from_dict([last_3schools[0]], orient='columns')
school_2 = pd.DataFrame.from_dict([last_3schools[1]], orient='columns')
school_3 = pd.DataFrame.from_dict([last_3schools[2]], orient='columns')

In [188]:
df_school1 = list_function(school_1,school_col)
df_school2 = list_function(school_2,school_col)
df_school3 = list_function(school_3,school_col)

In [189]:
df_school1.rename(\
               {'schoolName':'Education 1 name','degree':'Education 1 title',\
                'dateRange':'Education 1 tenuere'}, axis=1,inplace=True)
df_school2.rename(\
               {'schoolName':'Education 2 name','degree':'Education 2 title',\
                'dateRange':'Education 2 tenuere'}, axis=1,inplace=True)
df_school3.rename(\
               {'schoolName':'Education 3 name','degree':'Education 3 title',\
                'dateRange':'Education 3 tenuere'}, axis=1,inplace=True)

In [190]:
df_school1 = df_school1.reindex(columns=['Education 1 name','Education 1 title','Education 1 tenuere'])
df_school2 = df_school2.reindex(columns=['Education 2 name','Education 2 title','Education 2 tenuere'])
df_school3 = df_school3.reindex(columns=['Education 3 name','Education 3 title','Education 3 tenuere'])

In [191]:
schools_df= pd.concat([df_school1,df_school2,df_school3],axis=1)
schools_df

,Education 1 name,Education 1 title,Education 1 tenuere,Education 2 name,Education 2 title,Education 2 tenuere,Education 3 name,Education 3 title,Education 3 tenuere
0,"London College of Fashion, University of the A...","Master of Arts (M.A.), Strategic Fashion Marke...",2009 - 2010,University of Hertfordshire,Business Administration,2007 - 2008,CBS International Business School,"Bachelor of Arts (B.A.), International Business",2005 - 2008

## 'language' dataframe

In [218]:
languages= data[0]['accomplishments']['languages']
languages

['Deutsch: Native or bilingual proficiency',
 'Englisch: Full professional proficiency',
 'FranzÃ¶sisch: Elementary proficiency']

In [223]:
ll = (i for i in languages)

lang_5= list(ll)[:5]
lang_5

['Deutsch: Native or bilingual proficiency',
 'Englisch: Full professional proficiency',
 'FranzÃ¶sisch: Elementary proficiency']

In [310]:
language_list = [i.split(':') for i in lang_5]

In [311]:
language_list

[['Deutsch', ' Native or bilingual proficiency'],
 ['Englisch', ' Full professional proficiency'],
 ['FranzÃ¶sisch', ' Elementary proficiency']]

In [312]:
#columns needed
lang_col = ['Language 1','Language 1 proficiency','Language 2','Language 2 proficiency','Language 3','Language 3 proficiency'\
           'Language 4','Language 4 proficiency','Language 5','Language 5 proficiency']

In [305]:
lang_dataframe = pd.DataFrame(t2)

In [308]:
lang_dataframe

              0                                 1
0       Deutsch   Native or bilingual proficiency
1      Englisch     Full professional proficiency
2  FranzÃ¶sisch            Elementary proficiency

# Final dataframe

In [237]:
claudia_df= pd.concat([general_dataframe,details_dataframe,jobs_df,schools_df],axis=1)
claudia_df

,description,headline,location,connectionsCount,connectionDegree,imgUrl,fullName,Experience 1 title,Experience 1 company,Experience 1 tenuere,...,Experience 3 location,Education 1 name,Education 1 title,Education 1 tenuere,Education 2 name,Education 2 title,Education 2 tenuere,Education 3 name,Education 3 title,Education 3 tenuere
0,Management professional with 10+ years of expe...,Head of eCommerce at Love Stories,"Amsterdam, North Holland, Netherlands",1027,3rd,https://media.licdn.com/dms/image/C4E03AQErX4c...,Claudia Moron,Head of eCommerce,Love Stories,Apr 2021 - Present Â· 2 yrs,...,"Amsterdam, North Holland, Netherlands","London College of Fashion, University of the A...","Master of Arts (M.A.), Strategic Fashion Marke...",2009 - 2010,University of Hertfordshire,Business Administration,2007 - 2008,CBS International Business School,"Bachelor of Arts (B.A.), International Business",2005 - 2008

In [247]:
claudia_scraper = claudia_df.T

In [248]:
claudia_scraper.reset_index(inplace=True)

In [249]:
claudia_scraper

                    index                                                  0
0             description  Management professional with 10+ years of expe...
1                headline                  Head of eCommerce at Love Stories
2                location              Amsterdam, North Holland, Netherlands
3        connectionsCount                                               1027
4        connectionDegree                                                3rd
5                  imgUrl  https://media.licdn.com/dms/image/C4E03AQErX4c...
6                fullName                                      Claudia Moron
7      Experience 1 title                                  Head of eCommerce
8    Experience 1 company                                       Love Stories
9    Experience 1 tenuere                        Apr 2021 - Present Â· 2 yrs
10  Experience 1 location              Amsterdam, North Holland, Netherlands
11     Experience 2 title                        eCommerce Site Manager EMEA
12   Experience 2 company                                        New Balance
13   Experience 2 tenuere                 Oct 2018 - Mar 2021 Â· 2 yrs 6 mos
14  Experience 2 location              Amsterdam, North Holland, Netherlands
15     Experience 3 title  Content & User Experience Manager, EMEA eCommerce
16   Experience 3 company                                       Under Armour
17   Experience 3 tenuere                  Jul 2017 - Sep 2018 Â· 1 yr 3 mos
18  Experience 3 location              Amsterdam, North Holland, Netherlands
19       Education 1 name  London College of Fashion, University of the A...
20      Education 1 title  Master of Arts (M.A.), Strategic Fashion Marke...
21    Education 1 tenuere                                        2009 - 2010
22       Education 2 name                        University of Hertfordshire
23      Education 2 title                            Business Administration
24    Education 2 tenuere                                        2007 - 2008
25       Education 3 name                  CBS International Business School
26      Education 3 title    Bachelor of Arts (B.A.), International Business
27    Education 3 tenuere                                        2005 - 2008

In [250]:
#claudia_scraper.to_csv (r'C:\Users\javie\OneDrive\Documents\Claudia_scraper.csv', index = None, header=True)

In [134]:
general_df.reset_index(inplace=True)

In [135]:
general_df

,index,0
0,imgUrl,https://media.licdn.com/dms/image/C4E03AQErX4c...
1,fullName,Claudia Moron
2,headline,Head of eCommerce at Love Stories
3,location,"Amsterdam, North Holland, Netherlands"
4,profileUrl,https://www.linkedin.com/in/claudia-moron-3268...
5,connections,500+
6,connectionsCount,1027
7,connectionDegree,3rd
8,description,Management professional with 10+ years of expe...
9,subscribers,1069
10,firstName,Claudia
11,lastName,Moron
12,userId,327548046
13,backgroundUrl,https://media.licdn.com/dms/image/D4E16AQGgZls...
14,vmid,ACoAABOF_I4BaZwoyGnZwE_2lsdbAPG11XsFEoI
15,linkedinSalesNavigatorUrl,https://www.linkedin.com/sales/people/ACoAABOF...
16,mutualConnectionsUrl,https://www.linkedin.com/search/results/people...
17,connectionsUrl,https://www.linkedin.com/search/results/people...
18,company,Love Stories
19,school,"London College of Fashion, University of the A..."

In [70]:
normalized = pd.json_normalize(data)

In [71]:
normalized

,jobs,schools,skills,allSkills,query,timestamp,general.imgUrl,general.fullName,general.headline,general.location,...,dropcontact.email,dropcontact.qualification,dropcontact.civility,dropcontact.company,dropcontact.first_name,dropcontact.full_name,dropcontact.job,dropcontact.last_name,dropcontact.linkedin,dropcontact.website
0,[{'companyUrl': 'https://www.linkedin.com/comp...,[{'schoolUrl': 'https://www.linkedin.com/compa...,"[{'name': 'Microsoft Office', 'endorsements': ...","Microsoft Office, Social Media, Microsoft Exce...",https://www.linkedin.com/in/tthiele/,2023-03-08T19:19:47.364Z,https://media.licdn.com/dms/image/D4E03AQFEtqa...,Tim Thiele,...stealth mode,"Amsterdam, North Holland, Netherlands",...,tim@lushmotion.com,nominative@pro,Mr,Lush Motion,Tim,Tim Thiele,Co-Founder,Thiele,www.linkedin.com/in/tim-thiele-07798443,www.lushmotion.com

In [16]:
dataframe = pd.DataFrame.from_dict(pd.json_normalize(data), orient='columns')

In [17]:
dataframe

,skills,allSkills,jobs,schools,query,timestamp,general.imgUrl,general.fullName,general.headline,general.location,...,dropcontact.civility,dropcontact.company,dropcontact.company_linkedin,dropcontact.first_name,dropcontact.full_name,dropcontact.job,dropcontact.last_name,dropcontact.linkedin,dropcontact.phone,dropcontact.website
0,"[{'name': 'E-Commerce', 'endorsements': 15}, {...","E-Commerce, Online-Marketing, Unternehmensstra...",[{'companyUrl': 'https://www.linkedin.com/comp...,[{'schoolUrl': 'https://www.linkedin.com/compa...,https://www.linkedin.com/in/claudia-moron-3268...,2023-03-21T16:58:40.844Z,https://media.licdn.com/dms/image/C4E03AQErX4c...,Claudia Moron,Head of eCommerce at Love Stories,"Amsterdam, North Holland, Netherlands",...,Mrs,Love Stories,www.linkedin.com/company/love-stories-,Claudia,Claudia Moron,Head of Ecommerce,Moron,www.linkedin.com/in/claudia-moron-32684191,+33 1 89 19 59 88,www.lovestoriesintimates.com

In [19]:
dataframe.columns

Index(['skills', 'allSkills', 'jobs', 'schools', 'query', 'timestamp',
       'general.imgUrl', 'general.fullName', 'general.headline',
       'general.location', 'general.profileUrl', 'general.connections',
       'general.connectionsCount', 'general.connectionDegree',
       'general.description', 'general.subscribers', 'general.firstName',
       'general.lastName', 'general.userId', 'general.backgroundUrl',
       'general.vmid', 'general.linkedinSalesNavigatorUrl',
       'general.mutualConnectionsUrl', 'general.connectionsUrl',
       'details.linkedinProfile', 'details.companyWebsite',
       'interests.influencers', 'interests.companies', 'interests.schools',
       'accomplishments.languages', 'recommendations.receivedRecommendations',
       'recommendations.givenRecommendations', 'dropcontact.civility',
       'dropcontact.company', 'dropcontact.company_linkedin',
       'dropcontact.first_name', 'dropcontact.full_name', 'dropcontact.job',
       'dropcontact.last_name', 'dropcontact.linkedin', 'dropcontact.phone',
       'dropcontact.website'],
      dtype='object')

In [9]:
df=pd.DataFrame(data)
df

,general,jobs,schools,details,skills,allSkills,interests,accomplishments,recommendations,dropcontact,query,timestamp
0,{'imgUrl': 'https://media.licdn.com/dms/image/...,[{'companyUrl': 'https://www.linkedin.com/comp...,[{'schoolUrl': 'https://www.linkedin.com/compa...,{'linkedinProfile': 'https://www.linkedin.com/...,"[{'name': 'Python (Programming Language)', 'en...","Python (Programming Language), Data Analysis, ...",{'influencers': [{'url': 'https://www.linkedin...,{'courses': ['Business to business management'...,"{'receivedRecommendations': [], 'givenRecommen...","{'email': 'javier.salinas@ironhack.com', 'qual...",https://www.linkedin.com/in/javieromsal/,2023-03-09T12:41:21.767Z

In [10]:
df.T

                                                                 0
general          {'imgUrl': 'https://media.licdn.com/dms/image/...
jobs             [{'companyUrl': 'https://www.linkedin.com/comp...
schools          [{'schoolUrl': 'https://www.linkedin.com/compa...
details          {'linkedinProfile': 'https://www.linkedin.com/...
skills           [{'name': 'Python (Programming Language)', 'en...
allSkills        Python (Programming Language), Data Analysis, ...
interests        {'influencers': [{'url': 'https://www.linkedin...
accomplishments  {'courses': ['Business to business management'...
recommendations  {'receivedRecommendations': [], 'givenRecommen...
dropcontact      {'email': 'javier.salinas@ironhack.com', 'qual...
query                     https://www.linkedin.com/in/javieromsal/
timestamp                                 2023-03-09T12:41:21.767Z

# Activity from json

In [11]:
file_activity= open('JavierActivity.json', encoding="utf8")

In [12]:
activity= json.load(file_activity)

In [13]:
activity

[{'postUrl': 'https://www.linkedin.com/feed/update/urn:li:activity:7020872460434558976',
  'action': 'Post',
  'imgUrl': 'https://media.licdn.com/dms/image/C4E22AQE31vj2ky1VHw/feedshare-shrink_800/0/1673906435573?e=1681344000&v=beta&t=G16s0NzaUoHD8E_CfSI3S-mtGyBgEQi7_c2oegv_kwQ',
  'type': 'Image',
  'postContent': "I have accepted a new position as a Data Analyst Teaching Assistant for Ironhack Germany.I'm so excited to help teaching Data Analyst and keep this Data journey.Thanks to everyone at Ironhack for this opportunity!#dataanalyst #ironhack #berlin #newjob",
  'likeCount': 61,
  'commentCount': 11,
  'postDate': '1mo',
  'viewCount': '1787',
  'profileUrl': 'https://www.linkedin.com/in/javieromsal/',
  'timestamp': '2023-03-09T13:17:55.953Z'},
 {'postUrl': 'https://www.linkedin.com/feed/update/urn:li:activity:7020084929229123584',
  'action': 'Post',
  'sharedPostUrl': 'https://www.credential.net/ede1f392-5ef6-4565-aab4-987403c361aa',
  'type': 'Article',
  'imgUrl': 'https://media.licdn.com/dms/image/sync/C4E27AQF3gioGD33M3w/articleshare-shrink_800/0/1677349579037?e=1678975200&v=beta&t=XhVtvHEO_K_8K13vKIKAmD-hK6c59jQj8Um_hBXXQOY',
  'postContent': "I am happy to announce that I have graduated from Ironhack Germany as a Data Analyst 👨\u200d💻 👨\u200d🔬 📈 These 9 weeks were very challenging and a great educational experience. But if it weren’t for the drive to achieve success and the hard work of my team buddies none of this would ever be possible!I would like to thank the best teachers Aleksander Boski and Raafat H following with the great TA's Tommaso Ramella, PhD and Peter Z. for their immense efforts and multiple review and feedback sessions!To new beginnings🎯🥂#dataanalyst  #learning #ironhack #berlin",
  'likeCount': 32,
  'commentCount': 6,
  'postDate': '1mo',
  'viewCount': '1460',
  'profileUrl': 'https://www.linkedin.com/in/javieromsal/',
  'timestamp': '2023-03-09T13:17:55.954Z'},
 {'postUrl': 'https://www.linkedin.com/feed/update/urn:li:activity:6985600616009981953',
  'action': 'Post',
  'imgUrl': 'https://media.licdn.com/media/AAYQAQQSAAgAAQAAAAAAABqdcB5EZ18gQPCF4HzBOFBBhw.gif',
  'type': 'Celebration',
  'postContent': 'I’m happy to share that I’ve started my program at Ironhack!',
  'likeCount': 21,
  'commentCount': 3,
  'postDate': '5mo',
  'viewCount': '900',
  'profileUrl': 'https://www.linkedin.com/in/javieromsal/',
  'timestamp': '2023-03-09T13:17:55.954Z'},
 {'postUrl': 'https://www.linkedin.com/feed/update/urn:li:activity:6953894153017597952',
  'action': 'Post',
  'imgUrl': 'https://media.licdn.com/dms/image/C5622AQG4eGGWp3fSKg/feedshare-shrink_800/0/1657937562297?e=1681344000&v=beta&t=B3fUneK0ZCW3VkyzV2pK9CyZfhgO5NfC6OaLugcybLg',
  'type': 'Image',
  'postContent': '¡Gracias por estos 5 años!Hasta pronto :)#wecreatecharacter',
  'likeCount': 68,
  'commentCount': 7,
  'postDate': '8mo',
  'viewCount': '5039',
  'profileUrl': 'https://www.linkedin.com/in/javieromsal/',
  'timestamp': '2023-03-09T13:17:55.954Z'},
 {'postUrl': 'https://www.linkedin.com/feed/update/urn:li:activity:6816383075967217664',
  'action': 'Post',
  'imgUrl': 'https://media.licdn.com/dms/image/C5622AQGI0nsciFtY8Q/feedshare-shrink_800/0/1625152366832?e=1681344000&v=beta&t=7xhIDzCIaAKFGA3m1h_kJ2YTHTghgCScpT7AqTB_yT8',
  'type': 'Image',
  'postContent': 'DreamPlanDoTecnológico de Monterrey #MIP#OnceTecAlwaysTec',
  'likeCount': 53,
  'commentCount': 17,
  'postDate': '1yr',
  'viewCount': '2564',
  'profileUrl': 'https://www.linkedin.com/in/javieromsal/',
  'timestamp': '2023-03-09T13:17:55.954Z'}]

# DataFrame from csv

In [29]:
import csv

In [30]:
df= pd.read_csv('Javier2.csv')

In [31]:
df

,linkedinProfile,email,description,headline,location,imgUrl,firstName,lastName,fullName,subscribers,...,endorsement3,skill4,endorsement4,skill5,endorsement5,skill6,endorsement6,baseUrl,profileId,timestamp
0,https://www.linkedin.com/in/javieromsal/,javier_omsal@hotmail.com,Through my six years of experience in automoti...,Improvement engineer | Data Analytics | Python...,"Berlin, Berlin, Germany",https://media.licdn.com/dms/image/D4E03AQFH5dg...,Javier,Salinas,Javier Salinas,677,...,11,Python,9,Data Visualization,NaN,Tableau,NaN,https://www.linkedin.com/in/javieromsal/,javieromsal,2023-03-09T12:41:21.767Z

In [33]:
df.columns

Index(['linkedinProfile', 'email', 'description', 'headline', 'location',
       'imgUrl', 'firstName', 'lastName', 'fullName', 'subscribers',
       'connectionDegree', 'vmid', 'userId', 'linkedinSalesNavigatorUrl',
       'connectionsCount', 'connectionsUrl', 'mutualConnectionsUrl',
       'mailFromDropcontact', 'mail', 'company', 'companyUrl', 'jobTitle',
       'jobDescription', 'jobLocation', 'jobDateRange', 'company2',
       'companyUrl2', 'jobTitle2', 'jobDescription2', 'jobLocation2',
       'jobDateRange2', 'school', 'schoolUrl', 'schoolDegree',
       'schoolDescription', 'schoolDateRange', 'school2', 'schoolUrl2',
       'schoolDegree2', 'schoolDescription2', 'schoolDateRange2',
       'qualificationFromDropContact', 'civilityFromDropContact',
       'phoneNumberFromDropContact', 'websiteFromDropContact',
       'companyWebsite', 'allSkills', 'skill1', 'endorsement1', 'skill2',
       'endorsement2', 'skill3', 'endorsement3', 'skill4', 'endorsement4',
       'skill5', 'endorsement5', 'skill6', 'endorsement6', 'baseUrl',
       'profileId', 'timestamp'],
      dtype='object')

In [ ]:
columns_needed = ['fullName','birthday','company','jobTitle','jobDateRange','location','mutualConnectionsText','school','schoolDateRange']

In [36]:
dataframe = df[['fullName','birthday',]]

KeyError: "['birthday'] not in index"

In [34]:
df_trial= pd.read_csv('Trial1.csv')
df_trial

,linkedinProfile,email,description,headline,location,imgUrl,firstName,lastName,fullName,subscribers,...,endorsement3,skill4,endorsement4,skill5,endorsement5,skill6,endorsement6,baseUrl,profileId,timestamp
0,https://www.linkedin.com/in/safak-safali/,safaksafali@gmail.com,"I'm a Berlin-based fullstack web developer, sp...",Web Developer | HTML5 | CSS | Javascript (ES6)...,"Berlin, Berlin, Germany",https://media.licdn.com/dms/image/D4E03AQF_6Uq...,Safak,Safali,Safak Safali,84,...,NaN,JavaScript,1,TypeScript,NaN,Node.js,1,https://www.linkedin.com/in/safak-safali/,safak-safali,2023-03-17T15:10:20.194Z

In [35]:
df_trial.columns

Index(['linkedinProfile', 'email', 'description', 'headline', 'location',
       'imgUrl', 'firstName', 'lastName', 'fullName', 'subscribers',
       'connectionDegree', 'vmid', 'userId', 'linkedinSalesNavigatorUrl',
       'connectionsCount', 'connectionsUrl', 'mutualConnectionsUrl',
       'mutualConnectionsText', 'mailFromDropcontact', 'mail', 'company',
       'companyUrl', 'jobTitle', 'jobDescription', 'jobLocation',
       'jobDateRange', 'school', 'schoolUrl', 'schoolDegree',
       'schoolDescription', 'schoolDateRange', 'school2', 'schoolUrl2',
       'schoolDescription2', 'schoolDateRange2',
       'qualificationFromDropContact', 'civilityFromDropContact',
       'websiteFromDropContact', 'connectedOn', 'website', 'companyWebsite',
       'allSkills', 'skill1', 'endorsement1', 'skill2', 'endorsement2',
       'skill3', 'endorsement3', 'skill4', 'endorsement4', 'skill5',
       'endorsement5', 'skill6', 'endorsement6', 'baseUrl', 'profileId',
       'timestamp'],
      dtype='object')